@media (max-width:1080px) {
    #home{
        .hero{
            h1{
                font-size: 4.5rem;
            }
        }
    }

    footer{
        &>div{
            flex-direction: column;
            align-items: center;

            .about{
                text-align: center;
            }

            ul{
                align-items: center;
            }
        }
    }
}

@media (max-width:950px) {
    #home{
        padding: 0 .5rem;
        .hero{
            padding: 5vh 1rem ;
            h1{
                font-size: 3.5rem;
            }
        }

    }
    .pageimage{
        height: calc(100px + 13vh);
        position: relative;
        left:50%;
        transform: translateX(-50%);

      
        .text{
          font-size: 1.4rem;
          font-weight: 500;
          width: fit-content;
        }
      }

      .swiper{
        height: calc(40px + 10vw) !important;
      }

    nav{
        align-items: flex-start;
        flex-direction: column;
        padding: .6rem 2rem;
        gap: 2rem;
        background: rgba(255, 166, 0, 0.892);
        height: 65px;
        z-index: 10;
        overflow: hidden;

        &.open{
            height: 350px !important;
            background: #fff;

            ul{
                padding: 1rem 0;
                a{
                    color: lightgrey;

                    &:hover{
                        color: orange;
                    }
                }
            }

            .bars{
                .bar{
                    background: orange;

                    &::before,&::after{
                        background: orange;
                    }
                }
            }
          }

        .bars{
            display: block;
        }
      
        &>a{
          align-self: flex-start;
        }
      
        ul{
          display: flex;
          flex-direction: column;
          gap:  .95rem 0;
      
        }
      }
}

